In [1]:
#importing the Pandas library to perform Data manipulation

import pandas as pd

In [2]:
#importing required input files & making their DFs

df_report_x = pd.read_excel('Company X - Order Report.xlsx')
df_pin_x = pd.read_excel('Company X - Pincode Zones.xlsx')
df_SKU_x = pd.read_excel('Company X - SKU Master.xlsx')
df_invoice_cc = pd.read_excel('Courier Company - Invoice.xlsx')
df_rates_cc = pd.read_excel('Courier Company - Rates.xlsx')

In [3]:
#starting with the 'Company X - Order Report' DF

df_report_x.head(10)

   ExternOrderNo            SKU  Order Qty
0     2001827036  8904223818706        1.0
1     2001827036  8904223819093        1.0
2     2001827036  8904223819109        1.0
3     2001827036  8904223818430        1.0
4     2001827036  8904223819277        1.0
5     2001827036  GIFTBOX202002        1.0
6     2001827036  8904223818638        2.0
7     2001827036     SACHETS001        1.0
8     2001825261  8904223819024        4.0
9     2001825261  8904223819291        4.0

In [4]:
#merging 'Company X - Order Report' & 'Company X - SKU Master' DFs

df_report_x = df_report_x.merge(df_SKU_x, how = 'right', on = 'SKU')

In [5]:
df_report_x.head(10)

   ExternOrderNo            SKU  Order Qty  Weight (g)
0     2001808801  8904223815682        1.0         210
1     2001820978  8904223815859        1.0         165
2     2001811363  8904223815859        1.0         165
3     2001811363  8904223815859        1.0         165
4     2001808801  8904223815859        1.0         165
5     2001808675  8904223815859        1.0         165
6     2001808118  8904223815859        1.0         165
7     2001808801  8904223815866        2.0         113
8     2001808675  8904223815866        1.0         113
9     2001811363  8904223815873        1.0          65

In [6]:
#checking the respective datatypes to perform arithmetic operations

df_report_x.dtypes

ExternOrderNo      int64
SKU               object
Order Qty        float64
Weight (g)         int64
dtype: object

In [7]:
#conversion of the datatype

df_report_x['Order Qty'] = df_report_x['Order Qty'].astype(int)
df_report_x

     ExternOrderNo            SKU  Order Qty  Weight (g)
0       2001808801  8904223815682          1         210
1       2001820978  8904223815859          1         165
2       2001811363  8904223815859          1         165
3       2001811363  8904223815859          1         165
4       2001808801  8904223815859          1         165
..             ...            ...        ...         ...
396     2001806733  8904223819512          1         210
397     2001811306  8904223819543          1         300
398     2001827036     SACHETS001          1          10
399     2001825261     SACHETS001          1          10
400     2001819252     SACHETS001          1          10

[401 rows x 4 columns]

In [8]:
#New column - Respective weight

df_report_x['Respective Weight (g)'] = df_report_x['Order Qty'].multiply(df_report_x['Weight (g)'])

In [9]:
df_report_x

,ExternOrderNo,SKU,Order Qty,Weight (g),Respective Weight (g)
0,2001808801,8904223815682,1,210,210
1,2001820978,8904223815859,1,165,165
2,2001811363,8904223815859,1,165,165
3,2001811363,8904223815859,1,165,165
4,2001808801,8904223815859,1,165,165
...,...,...,...,...,...
396,2001806733,8904223819512,1,210,210
397,2001811306,8904223819543,1,300,300
398,2001827036,SACHETS001,1,10,10
399,2001825261,SACHETS001,1,10,10
400,2001819252,SACHETS001,1,10,10

In [10]:
#dropping unnecessary columns

df_report_x.drop(['SKU'], axis = 1, inplace =True)
df_report_x.drop(['Order Qty'], axis =1, inplace = True)
df_report_x.drop(['Weight (g)'], axis = 1, inplace=True)

In [11]:
df_report_x

     ExternOrderNo  Respective Weight (g)
0       2001808801                    210
1       2001820978                    165
2       2001811363                    165
3       2001811363                    165
4       2001808801                    165
..             ...                    ...
396     2001806733                    210
397     2001811306                    300
398     2001827036                     10
399     2001825261                     10
400     2001819252                     10

[401 rows x 2 columns]

In [12]:
#Grouping 'ExternOrderNo' w.r.t. sum of 'Respective Weight (g)'

df_report_x = df_report_x.groupby('ExternOrderNo').sum('Respective Weight (g)')

In [13]:
df_report_x

               Respective Weight (g)
ExternOrderNo
2001806210                       220
2001806226                       480
2001806229                       500
2001806232                      1302
2001806233                       245
...                              ...
2001821995                       477
2001822466                      1376
2001823564                       672
2001825261                      1557
2001827036                      2176

[124 rows x 1 columns]

In [14]:
#Renaming to 'Total Weight (x)'

df_report_x.rename(columns={'Respective Weight (g)' : 'Total Weight (x)'}, inplace = True)

In [15]:
df_report_x

               Total Weight (x)
ExternOrderNo
2001806210                  220
2001806226                  480
2001806229                  500
2001806232                 1302
2001806233                  245
...                         ...
2001821995                  477
2001822466                 1376
2001823564                  672
2001825261                 1557
2001827036                 2176

[124 rows x 1 columns]

In [16]:
#Checking the minimum limit of 'Total Weight (x)' to form 'weight_slab' func.

df_report_x['Total Weight (x)'].min()

65

In [17]:
#Checking the maximum limit of 'Total Weight (x)' to form 'weight_slab' func.

df_report_x['Total Weight (x)'].max()

3080

In [18]:
#A function to form 'weight slab (x)' column as per the min. & max. limit of the 'Total Weight (x)' column 

def weight_slab (weight):
    if weight <= 500:
        return 0.5
    elif weight <= 1000:
        return 1.0
    elif weight <= 1500:
        return 1.5
    elif weight <= 2000:
        return 2.0
    elif weight <= 2500:
        return 2.5
    elif weight <= 3000:
        return 3.0
    else:
        return 3.5

In [19]:
#Applying the function to form the respective 'weight slab (x)' column

df_report_x['Weight Slab (x)'] = df_report_x['Total Weight (x)'].apply(lambda x: weight_slab(x))

In [20]:
df_report_x['Weight Slab (x)'].round(2)

ExternOrderNo
2001806210    0.5
2001806226    0.5
2001806229    0.5
2001806232    1.5
2001806233    0.5
             ...
2001821995    0.5
2001822466    1.5
2001823564    1.0
2001825261    2.0
2001827036    2.5
Name: Weight Slab (x), Length: 124, dtype: float64

In [21]:
df_report_x

               Total Weight (x)  Weight Slab (x)
ExternOrderNo
2001806210                  220              0.5
2001806226                  480              0.5
2001806229                  500              0.5
2001806232                 1302              1.5
2001806233                  245              0.5
...                         ...              ...
2001821995                  477              0.5
2001822466                 1376              1.5
2001823564                  672              1.0
2001825261                 1557              2.0
2001827036                 2176              2.5

[124 rows x 2 columns]

In [22]:
#Conversion in KG

df_report_x['Total Weight (x)'] = df_report_x['Total Weight (x)']/1000

In [23]:
df_report_x['Total Weight (x)'].round(2)

ExternOrderNo
2001806210    0.22
2001806226    0.48
2001806229    0.50
2001806232    1.30
2001806233    0.24
              ...
2001821995    0.48
2001822466    1.38
2001823564    0.67
2001825261    1.56
2001827036    2.18
Name: Total Weight (x), Length: 124, dtype: float64

In [24]:
#Checking the 'Courier Company - Invoice' DF

df_invoice_cc.head()

,AWB Code,Order ID,Charged Weight,Warehouse Pincode,Customer Pincode,Zone,Type of Shipment,Billing Amount (Rs.)
0,1091117221940,2001806210,2.92,121003,140604,b,Forward charges,174.5
1,1091117222065,2001806226,0.68,121003,723146,d,Forward charges,90.2
2,1091117222080,2001806229,0.71,121003,421204,d,Forward charges,90.2
3,1091117222124,2001806232,1.30,121003,507101,d,Forward charges,135.0
4,1091117222135,2001806233,0.78,121003,263139,b,Forward charges,61.3

In [25]:
#Renaming in order to merge with the previous DF

df_invoice_cc.rename(columns={'Order ID': 'ExternOrderNo'}, inplace=True)

In [26]:
df_invoice_cc

,AWB Code,ExternOrderNo,Charged Weight,Warehouse Pincode,Customer Pincode,Zone,Type of Shipment,Billing Amount (Rs.)
0,1091117221940,2001806210,2.92,121003,140604,b,Forward charges,174.5
1,1091117222065,2001806226,0.68,121003,723146,d,Forward charges,90.2
2,1091117222080,2001806229,0.71,121003,421204,d,Forward charges,90.2
3,1091117222124,2001806232,1.30,121003,507101,d,Forward charges,135.0
4,1091117222135,2001806233,0.78,121003,263139,b,Forward charges,61.3
...,...,...,...,...,...,...,...,...
119,1091121666133,2001823564,0.70,121003,492001,d,Forward and RTO charges,172.8
120,1091121844806,2001811475,0.50,121003,173212,b,Forward charges,33.0
121,1091121846136,2001811305,0.50,121003,302020,d,Forward charges,45.4
122,1091121981575,2001825261,1.60,121003,517128,d,Forward and RTO charges,345.0
123,1091122418320,2001827036,1.60,121003,173213,b,Forward charges,117.9

In [27]:
#Merging DFs 'df_report_x' & 'df_invoice_cc' 

df_report_x = df_report_x.merge(df_invoice_cc, how='outer', on = 'ExternOrderNo')

In [28]:
df_report_x

,ExternOrderNo,Total Weight (x),Weight Slab (x),AWB Code,Charged Weight,Warehouse Pincode,Customer Pincode,Zone,Type of Shipment,Billing Amount (Rs.)
0,2001806210,0.220,0.5,1091117221940,2.92,121003,140604,b,Forward charges,174.5
1,2001806226,0.480,0.5,1091117222065,0.68,121003,723146,d,Forward charges,90.2
2,2001806229,0.500,0.5,1091117222080,0.71,121003,421204,d,Forward charges,90.2
3,2001806232,1.302,1.5,1091117222124,1.30,121003,507101,d,Forward charges,135.0
4,2001806233,0.245,0.5,1091117222135,0.78,121003,263139,b,Forward charges,61.3
...,...,...,...,...,...,...,...,...,...,...
119,2001821995,0.477,0.5,1091121183730,0.50,121003,342008,d,Forward charges,45.4
120,2001822466,1.376,1.5,1091121305541,1.10,121003,342301,d,Forward charges,135.0
121,2001823564,0.672,1.0,1091121666133,0.70,121003,492001,d,Forward and RTO charges,172.8
122,2001825261,1.557,2.0,1091121981575,1.60,121003,517128,d,Forward and RTO charges,345.0
123,2001827036,2.176,2.5,1091122418320,1.60,121003,173213,b,Forward charges,117.9

In [29]:
#A function to form 'Weight Slab (cc)' column

def weight_slab2 (weight):
    if weight <= 0.5:
        return 0.5
    elif weight <= 1.0:
        return 1.0
    elif weight <= 1.5:
        return 1.5
    elif weight <= 2.0:
        return 2.0
    elif weight <= 2.5:
        return 2.5
    elif weight <= 3.0:
        return 3.0
    else:
        return 3.5

In [30]:
#Applying the function to make the 'weight Slab (cc)' column

df_report_x['Weight Slab (cc)'] = df_report_x['Charged Weight'].apply(lambda x: weight_slab2(x))

In [31]:
df_report_x

,ExternOrderNo,Total Weight (x),Weight Slab (x),AWB Code,Charged Weight,Warehouse Pincode,Customer Pincode,Zone,Type of Shipment,Billing Amount (Rs.),Weight Slab (cc)
0,2001806210,0.220,0.5,1091117221940,2.92,121003,140604,b,Forward charges,174.5,3.0
1,2001806226,0.480,0.5,1091117222065,0.68,121003,723146,d,Forward charges,90.2,1.0
2,2001806229,0.500,0.5,1091117222080,0.71,121003,421204,d,Forward charges,90.2,1.0
3,2001806232,1.302,1.5,1091117222124,1.30,121003,507101,d,Forward charges,135.0,1.5
4,2001806233,0.245,0.5,1091117222135,0.78,121003,263139,b,Forward charges,61.3,1.0
...,...,...,...,...,...,...,...,...,...,...,...
119,2001821995,0.477,0.5,1091121183730,0.50,121003,342008,d,Forward charges,45.4,0.5
120,2001822466,1.376,1.5,1091121305541,1.10,121003,342301,d,Forward charges,135.0,1.5
121,2001823564,0.672,1.0,1091121666133,0.70,121003,492001,d,Forward and RTO charges,172.8,1.0
122,2001825261,1.557,2.0,1091121981575,1.60,121003,517128,d,Forward and RTO charges,345.0,2.0
123,2001827036,2.176,2.5,1091122418320,1.60,121003,173213,b,Forward charges,117.9,2.0

In [32]:
#Checking the 'Company X -Pincode Zones' DF - df_pin_x

df_pin_x

     Warehouse Pincode  Customer Pincode Zone
0               121003            140301    b
1               121003            140301    b
2               121003            140604    b
3               121003            143001    b
4               121003            144001    b
..                 ...               ...  ...
119             121003            743263    d
120             121003            783301    e
121             121003            831002    d
122             121003            831006    d
123             121003            845438    d

[124 rows x 3 columns]

In [33]:
#Preparing this DF to merge with the main DF (df_report_x)

df_pin_x.rename(columns={'Zone': 'Zone (x)'}, inplace=True)

In [34]:
df_pin_x

     Warehouse Pincode  Customer Pincode Zone (x)
0               121003            140301        b
1               121003            140301        b
2               121003            140604        b
3               121003            143001        b
4               121003            144001        b
..                 ...               ...      ...
119             121003            743263        d
120             121003            783301        e
121             121003            831002        d
122             121003            831006        d
123             121003            845438        d

[124 rows x 3 columns]

In [35]:
#Sorting w.r.t. 'Customer Pincode' column in the main DF to merge with 'df_pin_x'

df_report_x.sort_values(by=['Customer Pincode'], inplace=True)

In [36]:
df_report_x

,ExternOrderNo,Total Weight (x),Weight Slab (x),AWB Code,Charged Weight,Warehouse Pincode,Customer Pincode,Zone,Type of Shipment,Billing Amount (Rs.),Weight Slab (cc)
54,2001808118,0.343,0.5,1091117435134,0.50,121003,140301,b,Forward charges,33.0,0.5
33,2001807058,1.168,1.5,1091117323112,1.15,121003,140301,b,Forward charges,89.6,1.5
0,2001806210,0.220,0.5,1091117221940,2.92,121003,140604,b,Forward charges,174.5,3.0
11,2001806458,0.700,1.0,1091117223244,1.00,121003,143001,b,Forward charges,61.3,1.0
17,2001806616,0.963,1.0,1091117225484,1.08,121003,144001,b,Forward charges,89.6,1.5
...,...,...,...,...,...,...,...,...,...,...,...
5,2001806251,0.245,0.5,1091117222146,1.27,121003,743263,d,Forward charges,135.0,1.5
107,2001818390,0.841,1.0,1091120014461,0.80,121003,783301,e,Forward and RTO charges,213.5,1.0
20,2001806726,0.500,0.5,1091117226910,0.68,121003,831002,d,Forward charges,90.2,1.0
75,2001809917,0.630,1.0,1091121482593,0.60,121003,831006,d,Forward and RTO charges,172.8,1.0
46,2001807930,0.240,0.5,1091117327695,0.15,121003,845438,d,Forward charges,45.4,0.5

In [37]:
#Correcting the index

df_report_x.reset_index(drop=True, inplace=True)

In [38]:
df_report_x

,ExternOrderNo,Total Weight (x),Weight Slab (x),AWB Code,Charged Weight,Warehouse Pincode,Customer Pincode,Zone,Type of Shipment,Billing Amount (Rs.),Weight Slab (cc)
0,2001808118,0.343,0.5,1091117435134,0.50,121003,140301,b,Forward charges,33.0,0.5
1,2001807058,1.168,1.5,1091117323112,1.15,121003,140301,b,Forward charges,89.6,1.5
2,2001806210,0.220,0.5,1091117221940,2.92,121003,140604,b,Forward charges,174.5,3.0
3,2001806458,0.700,1.0,1091117223244,1.00,121003,143001,b,Forward charges,61.3,1.0
4,2001806616,0.963,1.0,1091117225484,1.08,121003,144001,b,Forward charges,89.6,1.5
...,...,...,...,...,...,...,...,...,...,...,...
119,2001806251,0.245,0.5,1091117222146,1.27,121003,743263,d,Forward charges,135.0,1.5
120,2001818390,0.841,1.0,1091120014461,0.80,121003,783301,e,Forward and RTO charges,213.5,1.0
121,2001806726,0.500,0.5,1091117226910,0.68,121003,831002,d,Forward charges,90.2,1.0
122,2001809917,0.630,1.0,1091121482593,0.60,121003,831006,d,Forward and RTO charges,172.8,1.0
123,2001807930,0.240,0.5,1091117327695,0.15,121003,845438,d,Forward charges,45.4,0.5

In [39]:
#As 'Customer Pincode' column in both the DFs are in the same order now we can merge df_report_x & df_pin_x by index value

df_report_x=pd.merge(df_report_x, df_pin_x, left_index=True, right_index=True)

In [40]:
df_report_x

,ExternOrderNo,Total Weight (x),Weight Slab (x),AWB Code,Charged Weight,Warehouse Pincode_x,Customer Pincode_x,Zone,Type of Shipment,Billing Amount (Rs.),Weight Slab (cc),Warehouse Pincode_y,Customer Pincode_y,Zone (x)
0,2001808118,0.343,0.5,1091117435134,0.50,121003,140301,b,Forward charges,33.0,0.5,121003,140301,b
1,2001807058,1.168,1.5,1091117323112,1.15,121003,140301,b,Forward charges,89.6,1.5,121003,140301,b
2,2001806210,0.220,0.5,1091117221940,2.92,121003,140604,b,Forward charges,174.5,3.0,121003,140604,b
3,2001806458,0.700,1.0,1091117223244,1.00,121003,143001,b,Forward charges,61.3,1.0,121003,143001,b
4,2001806616,0.963,1.0,1091117225484,1.08,121003,144001,b,Forward charges,89.6,1.5,121003,144001,b
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119,2001806251,0.245,0.5,1091117222146,1.27,121003,743263,d,Forward charges,135.0,1.5,121003,743263,d
120,2001818390,0.841,1.0,1091120014461,0.80,121003,783301,e,Forward and RTO charges,213.5,1.0,121003,783301,e
121,2001806726,0.500,0.5,1091117226910,0.68,121003,831002,d,Forward charges,90.2,1.0,121003,831002,d
122,2001809917,0.630,1.0,1091121482593,0.60,121003,831006,d,Forward and RTO charges,172.8,1.0,121003,831006,d
123,2001807930,0.240,0.5,1091117327695,0.15,121003,845438,d,Forward charges,45.4,0.5,121003,845438,d

In [41]:
#Removing unnecessary columns

df_report_x.drop(columns={'Warehouse Pincode_x', 'Warehouse Pincode_y', 'Customer Pincode_x', 'Customer Pincode_y'}, inplace=True)

In [42]:
df_report_x

,ExternOrderNo,Total Weight (x),Weight Slab (x),AWB Code,Charged Weight,Zone,Type of Shipment,Billing Amount (Rs.),Weight Slab (cc),Zone (x)
0,2001808118,0.343,0.5,1091117435134,0.50,b,Forward charges,33.0,0.5,b
1,2001807058,1.168,1.5,1091117323112,1.15,b,Forward charges,89.6,1.5,b
2,2001806210,0.220,0.5,1091117221940,2.92,b,Forward charges,174.5,3.0,b
3,2001806458,0.700,1.0,1091117223244,1.00,b,Forward charges,61.3,1.0,b
4,2001806616,0.963,1.0,1091117225484,1.08,b,Forward charges,89.6,1.5,b
...,...,...,...,...,...,...,...,...,...,...
119,2001806251,0.245,0.5,1091117222146,1.27,d,Forward charges,135.0,1.5,d
120,2001818390,0.841,1.0,1091120014461,0.80,e,Forward and RTO charges,213.5,1.0,e
121,2001806726,0.500,0.5,1091117226910,0.68,d,Forward charges,90.2,1.0,d
122,2001809917,0.630,1.0,1091121482593,0.60,d,Forward and RTO charges,172.8,1.0,d
123,2001807930,0.240,0.5,1091117327695,0.15,d,Forward charges,45.4,0.5,d

In [43]:
df_report_x.rename(columns={'ExternOrderNo':'Order ID'}, inplace=True)

In [44]:
df_report_x

,Order ID,Total Weight (x),Weight Slab (x),AWB Code,Charged Weight,Zone,Type of Shipment,Billing Amount (Rs.),Weight Slab (cc),Zone (x)
0,2001808118,0.343,0.5,1091117435134,0.50,b,Forward charges,33.0,0.5,b
1,2001807058,1.168,1.5,1091117323112,1.15,b,Forward charges,89.6,1.5,b
2,2001806210,0.220,0.5,1091117221940,2.92,b,Forward charges,174.5,3.0,b
3,2001806458,0.700,1.0,1091117223244,1.00,b,Forward charges,61.3,1.0,b
4,2001806616,0.963,1.0,1091117225484,1.08,b,Forward charges,89.6,1.5,b
...,...,...,...,...,...,...,...,...,...,...
119,2001806251,0.245,0.5,1091117222146,1.27,d,Forward charges,135.0,1.5,d
120,2001818390,0.841,1.0,1091120014461,0.80,e,Forward and RTO charges,213.5,1.0,e
121,2001806726,0.500,0.5,1091117226910,0.68,d,Forward charges,90.2,1.0,d
122,2001809917,0.630,1.0,1091121482593,0.60,d,Forward and RTO charges,172.8,1.0,d
123,2001807930,0.240,0.5,1091117327695,0.15,d,Forward charges,45.4,0.5,d

In [45]:
#Now, we need 'Expected Charge (x)' column -
#forming two columns 'Fixed  charge (x)' & 'Additional charge (x)' by the logic for that,
#they will deal with both 'Forward charges' & 'Forward and RTO charges' 
#accordingly set by the 'Zone (x)' & 'Type of Shipment' and the respective 'Weight Slab (x)'

#Function 'fixed charges' will deal with the first 0.5 KG weight of the item,
#Function 'additional charges' will deal with the each additional 0.5 KG weight in the same proportion.

def fixed_charges (zone, ship_type):
    if zone=='a' and ship_type=='Forward charges':
        return 29.5
    elif zone=='a' and ship_type=='Forward and RTO charges':
        return 29.5+13.6
    elif zone=='b' and ship_type=='Forward charges':
        return 33
    elif zone=='b' and ship_type=='Forward and RTO charges':
        return 33+20.5
    elif zone=='c' and ship_type=='Forward charges':
        return 40.1
    elif zone=='c' and ship_type=='Forward and RTO charges':
        return 40.1+31.9
    elif zone=='d' and ship_type=='Forward charges':
        return 45.4
    elif zone=='d' and ship_type=='Forward and RTO charges':
        return 45.4+41.3
    elif zone=='e' and ship_type=='Forward charges':
        return 56.6
    elif zone=='e' and ship_type=='Forward and RTO charges':
        return 56.6+50.7
#---
    
def additional_charges (weight,zone, ship_type):
    if weight>0.5:
        if zone=='a' and ship_type=='Forward charges':
            return 23.6
        elif zone=='a' and ship_type=='Forward and RTO charges':
            return 23.6+23.6
        elif zone=='b' and ship_type=='Forward charges':
            return 28.3
        elif zone=='b' and ship_type=='Forward and RTO charges':
            return 28.3+28.3
        elif zone=='c' and ship_type=='Forward charges':
            return 38.9
        elif zone=='c' and ship_type=='Forward and RTO charges':
            return 38.9+38.9
        elif zone=='d' and ship_type=='Forward charges':
            return 44.8
        elif zone=='d' and ship_type=='Forward and RTO charges':
            return 44.8+44.8
        elif zone=='e' and ship_type=='Forward charges':
            return 55.5
        elif zone=='e' and ship_type=='Forward and RTO charges':
            return 55.5+55.5
    else:
        return 1

In [46]:
#Applying the function & forming the column 'Fixed charges (x)'

df_report_x['Fixed charges (x)'] = df_report_x.apply(lambda x: fixed_charges(x['Zone (x)'], x['Type of Shipment']), axis=1)
df_report_x['Fixed charges (x)'].round(2)

0       33.0
1       33.0
2       33.0
3       33.0
4       33.0
       ...
119     45.4
120    107.3
121     45.4
122     86.7
123     45.4
Name: Fixed charges (x), Length: 124, dtype: float64

In [47]:
#Applying the function & forming the column

df_report_x['Additional charges (x)'] = df_report_x.apply(lambda x: additional_charges(x['Weight Slab (x)'], x['Zone (x)'], x['Type of Shipment']), axis=1)
df_report_x['Additional charges (x)'].round(2)

0        1.0
1       28.3
2        1.0
3       28.3
4       28.3
       ...
119      1.0
120    111.0
121      1.0
122     89.6
123      1.0
Name: Additional charges (x), Length: 124, dtype: float64

In [48]:
df_report_x

,Order ID,Total Weight (x),Weight Slab (x),AWB Code,Charged Weight,Zone,Type of Shipment,Billing Amount (Rs.),Weight Slab (cc),Zone (x),Fixed charges (x),Additional charges (x)
0,2001808118,0.343,0.5,1091117435134,0.50,b,Forward charges,33.0,0.5,b,33.0,1.0
1,2001807058,1.168,1.5,1091117323112,1.15,b,Forward charges,89.6,1.5,b,33.0,28.3
2,2001806210,0.220,0.5,1091117221940,2.92,b,Forward charges,174.5,3.0,b,33.0,1.0
3,2001806458,0.700,1.0,1091117223244,1.00,b,Forward charges,61.3,1.0,b,33.0,28.3
4,2001806616,0.963,1.0,1091117225484,1.08,b,Forward charges,89.6,1.5,b,33.0,28.3
...,...,...,...,...,...,...,...,...,...,...,...,...
119,2001806251,0.245,0.5,1091117222146,1.27,d,Forward charges,135.0,1.5,d,45.4,1.0
120,2001818390,0.841,1.0,1091120014461,0.80,e,Forward and RTO charges,213.5,1.0,e,107.3,111.0
121,2001806726,0.500,0.5,1091117226910,0.68,d,Forward charges,90.2,1.0,d,45.4,1.0
122,2001809917,0.630,1.0,1091121482593,0.60,d,Forward and RTO charges,172.8,1.0,d,86.7,89.6
123,2001807930,0.240,0.5,1091117327695,0.15,d,Forward charges,45.4,0.5,d,45.4,1.0

In [49]:
#Using these two new columns to determine the 'Expected Charge (x)' column
#making a function for that as per the logic

def expected_charge (weight, fixed, additional):
    i=0
    j=0
    i = (weight/0.5) 
    j = i-1
    return (j*additional)+((i-j)*fixed)

In [50]:
#Applying the function & forming the desired column

df_report_x['Expected Charge (x)'] = df_report_x.apply(lambda x: expected_charge(x['Weight Slab (x)'], x['Fixed charges (x)'], x['Additional charges (x)']), axis=1)

In [51]:
df_report_x

,Order ID,Total Weight (x),Weight Slab (x),AWB Code,Charged Weight,Zone,Type of Shipment,Billing Amount (Rs.),Weight Slab (cc),Zone (x),Fixed charges (x),Additional charges (x),Expected Charge (x)
0,2001808118,0.343,0.5,1091117435134,0.50,b,Forward charges,33.0,0.5,b,33.0,1.0,33.0
1,2001807058,1.168,1.5,1091117323112,1.15,b,Forward charges,89.6,1.5,b,33.0,28.3,89.6
2,2001806210,0.220,0.5,1091117221940,2.92,b,Forward charges,174.5,3.0,b,33.0,1.0,33.0
3,2001806458,0.700,1.0,1091117223244,1.00,b,Forward charges,61.3,1.0,b,33.0,28.3,61.3
4,2001806616,0.963,1.0,1091117225484,1.08,b,Forward charges,89.6,1.5,b,33.0,28.3,61.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
119,2001806251,0.245,0.5,1091117222146,1.27,d,Forward charges,135.0,1.5,d,45.4,1.0,45.4
120,2001818390,0.841,1.0,1091120014461,0.80,e,Forward and RTO charges,213.5,1.0,e,107.3,111.0,218.3
121,2001806726,0.500,0.5,1091117226910,0.68,d,Forward charges,90.2,1.0,d,45.4,1.0,45.4
122,2001809917,0.630,1.0,1091121482593,0.60,d,Forward and RTO charges,172.8,1.0,d,86.7,89.6,176.3
123,2001807930,0.240,0.5,1091117327695,0.15,d,Forward charges,45.4,0.5,d,45.4,1.0,45.4

In [52]:
df_report_x['Billing Amount (Rs.)'].round(2)

0       33.0
1       89.6
2      174.5
3       61.3
4       89.6
       ...
119    135.0
120    213.5
121     90.2
122    172.8
123     45.4
Name: Billing Amount (Rs.), Length: 124, dtype: float64

In [53]:
#Forming the final column 'Difference Between Expected Charges and Billed Charges (Rs.)'

def difference_in_charges (expected, actual):
    return float(expected - actual)

df_report_x['Difference Between Expected Charges and Billed Charges (Rs.)']= df_report_x.apply(lambda x: difference_in_charges(x['Expected Charge (x)'], x['Billing Amount (Rs.)']), axis=1)

In [54]:
df_report_x['Difference Between Expected Charges and Billed Charges (Rs.)'].round(2)

0        0.0
1        0.0
2     -141.5
3        0.0
4      -28.3
       ...
119    -89.6
120      4.8
121    -44.8
122      3.5
123      0.0
Name: Difference Between Expected Charges and Billed Charges (Rs.), Length: 124, dtype: float64

In [55]:
#Renaming the coulmns appropriately

df_report_x.rename(columns={'AWB Code': 'AWB Number', 'Total Weight (x)': 'Total weight as per X (KG)', 'Weight Slab (x)': 'Weight slab as per X (KG)'}, inplace=True)
df_report_x.rename(columns={'Charged Weight': 'Total weight as per Courier Company (KG)', 'Zone': 'Delivery Zone charged by Courier Company', 'Billing Amount (Rs.)': 'Charges Billed by Courier Company (Rs.)', 'Weight Slab (cc)': 'Weight slab charged by Courier Company (KG)', 'Zone (x)': 'Delivery Zone as per X', 'Expected Charge (x)': 'Expected Charge as per X (Rs.)'}, inplace=True)

In [56]:
df_report_x

,Order ID,Total weight as per X (KG),Weight slab as per X (KG),AWB Number,Total weight as per Courier Company (KG),Delivery Zone charged by Courier Company,Type of Shipment,Charges Billed by Courier Company (Rs.),Weight slab charged by Courier Company (KG),Delivery Zone as per X,Fixed charges (x),Additional charges (x),Expected Charge as per X (Rs.),Difference Between Expected Charges and Billed Charges (Rs.)
0,2001808118,0.343,0.5,1091117435134,0.50,b,Forward charges,33.0,0.5,b,33.0,1.0,33.0,0.0
1,2001807058,1.168,1.5,1091117323112,1.15,b,Forward charges,89.6,1.5,b,33.0,28.3,89.6,0.0
2,2001806210,0.220,0.5,1091117221940,2.92,b,Forward charges,174.5,3.0,b,33.0,1.0,33.0,-141.5
3,2001806458,0.700,1.0,1091117223244,1.00,b,Forward charges,61.3,1.0,b,33.0,28.3,61.3,0.0
4,2001806616,0.963,1.0,1091117225484,1.08,b,Forward charges,89.6,1.5,b,33.0,28.3,61.3,-28.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119,2001806251,0.245,0.5,1091117222146,1.27,d,Forward charges,135.0,1.5,d,45.4,1.0,45.4,-89.6
120,2001818390,0.841,1.0,1091120014461,0.80,e,Forward and RTO charges,213.5,1.0,e,107.3,111.0,218.3,4.8
121,2001806726,0.500,0.5,1091117226910,0.68,d,Forward charges,90.2,1.0,d,45.4,1.0,45.4,-44.8
122,2001809917,0.630,1.0,1091121482593,0.60,d,Forward and RTO charges,172.8,1.0,d,86.7,89.6,176.3,3.5
123,2001807930,0.240,0.5,1091117327695,0.15,d,Forward charges,45.4,0.5,d,45.4,1.0,45.4,0.0

In [57]:
#Dropping unnecessary columns

df_report_x.drop(columns={'Type of Shipment', 'Fixed charges (x)', 'Additional charges (x)'}, inplace=True)

In [58]:
df_report_x

,Order ID,Total weight as per X (KG),Weight slab as per X (KG),AWB Number,Total weight as per Courier Company (KG),Delivery Zone charged by Courier Company,Charges Billed by Courier Company (Rs.),Weight slab charged by Courier Company (KG),Delivery Zone as per X,Expected Charge as per X (Rs.),Difference Between Expected Charges and Billed Charges (Rs.)
0,2001808118,0.343,0.5,1091117435134,0.50,b,33.0,0.5,b,33.0,0.0
1,2001807058,1.168,1.5,1091117323112,1.15,b,89.6,1.5,b,89.6,0.0
2,2001806210,0.220,0.5,1091117221940,2.92,b,174.5,3.0,b,33.0,-141.5
3,2001806458,0.700,1.0,1091117223244,1.00,b,61.3,1.0,b,61.3,0.0
4,2001806616,0.963,1.0,1091117225484,1.08,b,89.6,1.5,b,61.3,-28.3
...,...,...,...,...,...,...,...,...,...,...,...
119,2001806251,0.245,0.5,1091117222146,1.27,d,135.0,1.5,d,45.4,-89.6
120,2001818390,0.841,1.0,1091120014461,0.80,e,213.5,1.0,e,218.3,4.8
121,2001806726,0.500,0.5,1091117226910,0.68,d,90.2,1.0,d,45.4,-44.8
122,2001809917,0.630,1.0,1091121482593,0.60,d,172.8,1.0,d,176.3,3.5
123,2001807930,0.240,0.5,1091117327695,0.15,d,45.4,0.5,d,45.4,0.0

In [59]:
new_cols = ['Order ID',
 'AWB Number',
 'Total weight as per X (KG)',
 'Weight slab as per X (KG)',
 'Total weight as per Courier Company (KG)',
 'Weight slab charged by Courier Company (KG)',
 'Delivery Zone as per X',
 'Delivery Zone charged by Courier Company',
 'Expected Charge as per X (Rs.)',
 'Charges Billed by Courier Company (Rs.)',
 'Difference Between Expected Charges and Billed Charges (Rs.)'
 ]

df_report_x=df_report_x[new_cols]

In [60]:
df_report_x

,Order ID,AWB Number,Total weight as per X (KG),Weight slab as per X (KG),Total weight as per Courier Company (KG),Weight slab charged by Courier Company (KG),Delivery Zone as per X,Delivery Zone charged by Courier Company,Expected Charge as per X (Rs.),Charges Billed by Courier Company (Rs.),Difference Between Expected Charges and Billed Charges (Rs.)
0,2001808118,1091117435134,0.343,0.5,0.50,0.5,b,b,33.0,33.0,0.0
1,2001807058,1091117323112,1.168,1.5,1.15,1.5,b,b,89.6,89.6,0.0
2,2001806210,1091117221940,0.220,0.5,2.92,3.0,b,b,33.0,174.5,-141.5
3,2001806458,1091117223244,0.700,1.0,1.00,1.0,b,b,61.3,61.3,0.0
4,2001806616,1091117225484,0.963,1.0,1.08,1.5,b,b,61.3,89.6,-28.3
...,...,...,...,...,...,...,...,...,...,...,...
119,2001806251,1091117222146,0.245,0.5,1.27,1.5,d,d,45.4,135.0,-89.6
120,2001818390,1091120014461,0.841,1.0,0.80,1.0,e,e,218.3,213.5,4.8
121,2001806726,1091117226910,0.500,0.5,0.68,1.0,d,d,45.4,90.2,-44.8
122,2001809917,1091121482593,0.630,1.0,0.60,1.0,d,d,176.3,172.8,3.5
123,2001807930,1091117327695,0.240,0.5,0.15,0.5,d,d,45.4,45.4,0.0

In [61]:
#Thus, we got the desired Output 1 - Calculations worksheet (Result -> Calculations)

df_report_x.to_excel('Result.xlsx', index=False)

In [62]:
#Extracting the required columns and forming a new DF to find the Summary Table

df_summary = df_report_x[['Charges Billed by Courier Company (Rs.)', 'Difference Between Expected Charges and Billed Charges (Rs.)']]

In [63]:
df_summary.head(5)

,Charges Billed by Courier Company (Rs.),Difference Between Expected Charges and Billed Charges (Rs.)
0,33.0,0.0
1,89.6,0.0
2,174.5,-141.5
3,61.3,0.0
4,89.6,-28.3

In [64]:
#As the scientific notation while grouping can rise ambiguity in the output as shown below

df_summary.groupby('Difference Between Expected Charges and Billed Charges (Rs.)').count()

                                                    Charges Billed by Courier Company (Rs.)
Difference Between Expected Charges and Billed ...
-3.425000e+02                                                                             1
-1.916000e+02                                                                             1
-1.633000e+02                                                                             2
-1.468000e+02                                                                             1
-1.415000e+02                                                                             1
-1.185000e+02                                                                             1
-1.132000e+02                                                                             1
-9.490000e+01                                                                             1
-8.960000e+01                                                                             1
-7.840000e+01                                                                             1
-7.370000e+01                                                                             3
-6.190000e+01                                                                             1
-5.720000e+01                                                                            20
-5.660000e+01                                                                             1
-4.540000e+01                                                                             1
-4.480000e+01                                                                             3
-4.480000e+01                                                                            10
-3.320000e+01                                                                             2
-2.890000e+01                                                                            13
-2.830000e+01                                                                             4
-1.240000e+01                                                                             9
-4.700000e+00                                                                             1
-1.421085e-14                                                                             5
 0.000000e+00                                                                            16
 1.421085e-14                                                                             1
 3.500000e+00                                                                             5
 4.800000e+00                                                                             1
 7.000000e+00                                                                             2
 7.800000e+00                                                                             1
 1.050000e+01                                                                             1
 1.560000e+01                                                                             1
 1.590000e+01                                                                             2
 2.340000e+01                                                                             1
 2.360000e+01                                                                             1
 2.830000e+01                                                                             1
 2.830000e+01                                                                             1
 4.480000e+01                                                                             1
 4.480000e+01                                                                             2
 5.080000e+01                                                                             1
 7.910000e+01                                                                             1
 1.607000e+02                                                                             1

In [65]:
#Thus, converting these two required columns into integer

df_summary_int = df_summary[['Charges Billed by Courier Company (Rs.)', 'Difference Between Expected Charges and Billed Charges (Rs.)']].astype(int)

In [66]:
df_summary_int.head(5)

,Charges Billed by Courier Company (Rs.),Difference Between Expected Charges and Billed Charges (Rs.)
0,33,0
1,89,0
2,174,-141
3,61,0
4,89,-28

In [67]:
#Case 1 - Correctly Charged orders
#Applying the logic to determine the value of - Count of correctly Charged orders

df_summary_int[df_summary_int['Difference Between Expected Charges and Billed Charges (Rs.)'] == 0].count()

Charges Billed by Courier Company (Rs.)                         22
Difference Between Expected Charges and Billed Charges (Rs.)    22
dtype: int64

In [68]:
#Applying the logic to determine the value of - Total Correctly Charged amount

df_summary_int_correct = df_summary_int[df_summary_int['Difference Between Expected Charges and Billed Charges (Rs.)'] ==0 ]

In [69]:
df_summary_int_correct['Charges Billed by Courier Company (Rs.)'].sum()

1820

In [70]:
#Case 2 - Overcharged orders
#Applying the logic to determine the value of - Count of Overcharged orders

df_summary_int[df_summary_int['Difference Between Expected Charges and Billed Charges (Rs.)'] <0 ].count()

Charges Billed by Courier Company (Rs.)                         79
Difference Between Expected Charges and Billed Charges (Rs.)    79
dtype: int64

In [71]:
#Applying the logic to determine the value of - Total Overcharged amount

df_summary_int_over = df_summary_int[df_summary_int['Difference Between Expected Charges and Billed Charges (Rs.)'] <0 ]

In [72]:
df_summary_int_over['Difference Between Expected Charges and Billed Charges (Rs.)'].sum()

-4385

In [73]:
#Case 3 - Undercharged orders
#Applying the logic to determine the value of - Count of Undercharged orders

df_summary_int[df_summary_int['Difference Between Expected Charges and Billed Charges (Rs.)'] >0 ].count()

Charges Billed by Courier Company (Rs.)                         23
Difference Between Expected Charges and Billed Charges (Rs.)    23
dtype: int64

In [74]:
#Applying the logic to determine the value of - Total Undercharged amount

df_summary_int_under = df_summary_int[df_summary_int['Difference Between Expected Charges and Billed Charges (Rs.)'] >0 ]

In [75]:
df_summary_int_under['Difference Between Expected Charges and Billed Charges (Rs.)'].sum()

618

Putting these values in the second worksheet table 'Summary' (Result -> Summary) for the required output...